
@media screen and (max-width: 330px) {

    .container {
        margin:auto;
    }

    h1 {font-size: 2em}

	.starsSection {
        width: 100%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
	}

	.score-panel .restart {
        width: 100% ;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

	.score-panel .moveSection {
        width:100%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .score-panel .timeSection {
        width:100%;
        text-align:center;
        padding-top: 12px;
        padding-bottom:5px;
        margin: auto;
    }

    .deckArea {
        width: 300px;
        min-height: 350px;
        text-align: center;
       
    }

    .deck {
        width: 300px;
        min-height: 350px;
        padding: 10px;
        margin-left:5%;
    }

    .deck .card {
        height: 60px;
        width: 60px;
    }

    .popup .popuptext {
        padding: 5px;
        font-size: 1em;
        height: auto;
        
    }

    .playagain {
        font-size: .9em;
        width: 125px;
        height:40px;
        line-height: 40px; 
        margin:10%;
        background-color:#2e3d49;
        color: #fff;
    }



}


@media screen and (min-width: 360px) and (max-width: 660px) {
	h1 {font-size: 2em}
	.starsSection {
        width: 100%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
	}

	.score-panel .restart {
        width: 100% ;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

	.score-panel .moveSection {
        width:100%;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .score-panel .timeSection {
        width:100%;
        text-align:center;
        padding-top: 12px;
        padding-bottom:5px;
        margin: auto;
    }

    .deckArea {
        width: 330px;
        min-height: 380px;
        text-align: center;
   
    }

    .deck {
        width: 330px;
        min-height: 380px;
        padding: 16px;
        margin: 0 0 3em;
    }

    .deck .card {
        height: 62.5px;
        width: 62.5px;
    }

    .popup .popuptext {
        padding: 5px;
        font-size: 1em;
        height: auto;
        
    }

    .playagain {
        font-size: 1em;
        width: 125px;
        height:40px;
        line-height: 40px; 
        margin:10%;
        background-color:#2e3d49;
        color: #fff;
    }

}

@media screen and (min-width: 500px) and (max-width:1030px){
	h1 {font-size: 2em}
    
	.score-panel {
		font-size:1.5em;
	}
	
}