

@media screen and (max-width:370px) {

  h1 {
    font-size:2em;
  }

 .deck {
    margin: 0 0 1em;
}

  body{
    font-size:2em;
  }

}


@media screen and (min-width:621px) {

  h1 {
    display: inline-block;
  }

  h2 {
    font-size:2em;
  }

  h3 {
    font-size:1.5em;
  }

  h4 {
    font-size:1.2em;
  }

  header {
  text-align:center;
  }

}

@media screen and (min-width:401px) and (max-width:849px) {

  h1 {
    font-size:3em;
    line-height: 1.2em;
  }

  h2 {
    font-size:2em;
  }

  h3 {
    font-size:.9em;
  }
}

@media screen and (min-width: 850px) {

  h1 {
    font-size:4em;
    line-height: 1.2em;
  }

  h2 {
    font-size:2em;
  }

  h3 {
    font-size:2em;
  }

  h4 {
    font-size:2em;
  }


}
